@use "~@openedx/paragon/styles/scss/core/core.scss";

@import "~@openedx/paragon/styles/css/core/index.css";
@import "~@openedx/paragon/styles/css/themes/light/index.css";

@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import '/src/styles/nprogress.scss';

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.centered-body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  height: 75vh;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

.reverse-stateful-provisioning-success {
  direction: rtl;
}


.disabled-opacity { opacity: 0.5 !important; }
